.form {
  padding: 0 3%;


  &__row {
    display: flex;
    margin-bottom: 30px;

    @include phones {
      flex-direction: column;
      margin-bottom: 13px;
    }
  }

  &__row_btn {
    margin-bottom: 0px;
    margin-top: 75px;

    @include phones {
      margin-top: 15px;
    }
  } 

  &__block {
    flex: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &:last-child {
      margin: 0;
    }

    @include phones {
      margin: 0;
      margin-bottom: 15px;
    }


  }

  &__input {
    border-radius: 11px;
    background-color: #f7f7f7;
    border: 1px solid #80b5df;
    background: transparent;
    width: 100%;
    padding: 16px 22px;
    font-size: 20px;
    color: #9abad3;
    font-weight: 300;

    @include phones {
      padding: 20px 22px;
    }
  }

 
}